<footer>
    <div id="footerdiv">
        <div></div>
        <div id="footercopy">
            <p id="copy">Copyright &#xA9; 2024 Blue Group</p>
            <img class="ivylogo" src="img/Ivy Tech Logo.png" alt="">
        </div>
        <div id="footerlinks">
            <a href="mailto:info@ivytech.edu">Email IvyTech</a>
            <a href="tel:888-489-5463">Call IvyTech</a>(888) 489-5463
        </div>
    </div>    
</footer>