<nav>
    <div class="site-title">
        <a href="/"><h1>Ivy<span class="secondary-title">Bot</span></h1></a>
        <ul>
            <li></li>
            <li><a href="https://www.ivytech.edu/" target="_blank">IvyTech</a></li>
            <li><a href="https://www.ivytech.edu/admissions/apply-now/" target="_blank">Apply</a></li>
            <li><a href="https://www.ivytech.edu/tuition-aid/tuition-fees/" target="_blank">Tuition</a></li>
            <li><a href="https://www.ivytech.edu/locations/" target="_blank">Campuses</a></li>
            <li></li>
        </ul>
    </div>
</nav>