<html lang = "en">
<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="not-found">
        <div><img src="img/ivybot_face.png"></div>
        <div>
            <h1>404 - Page Not Found</h1>
            <br><p>Whoops!  Looks like you've navigated to a dead end.</p>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>